.capitalize-text{
	text-transform: capitalize;
}

.company-quote{
	font-size: 36px;
	color: gray;
}


.pagination li{
  margin: 0px;
}
[v-cloak] {
	
	display: none;
}

.location-margin{
	
	margin-bottom: 10px;
}